body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Site Header */
.site-header {
  text-align: center;
}

.site-header__logo {
  margin: 2rem auto;
}

/* Address */
.address {
  text-align: center;
}

.address address {
  font-style: normal;
}

/* Hours */
.hours {
  text-align: center;
}

.hours ul {
  list-style: none;
  padding: 0;
}

.hours li {
  margin-bottom: 1rem;
}

/* Social */

.social-links {
  text-align: center;
}

.social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  max-width: 320px;
  margin: 1rem auto;
}
.social-links li {
  margin: 0 auto;
}
